$font-family-monospace: 'Space Mono', monospace;
$font-family-main: 'Poppins', sans-serif;
$font-size-main: 2.75rem;
$font-size-small: 0.875rem;
$font-size-xs: 0.75rem;
$font-size-medium: 1.125rem;

/* --- Fonts --- */
@font-face {
    font-family: 'Space Mono';
    src: url('fonts/SpaceMono-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Space Mono';
    src: url('fonts/SpaceMono-Italic.ttf') format('truetype');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Space Mono';
    src: url('fonts/SpaceMono-BoldItalic.ttf') format('truetype');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('fonts/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

/* --- Texte et paragraphes --- */
h1 {
    font-family: $font-space-mono;
    font-weight: $font-weight-bold;
    font-style: italic;
}

h2 {
    font-family: $font-space-mono;
    font-weight: $font-weight-normal;
    font-style: italic;
}

h3 {
    font-family: $font-space-mono;
    font-weight: $font-weight-normal;
    font-style: normal;
}

p {
    font-family: $font-poppins;
    font-weight: 300;
}

/* --- Style de page --- */
/* Style du header */
.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin: 0 50px !important;
    padding: 0 !important;
    max-width: 100% !important;
}

/* Style du logo */
.logo a img {
    width: 216px;
    height: auto;
    padding-bottom: 5px;
}

.site-logo {
    margin-top: 0 !important;
}

/* Style de la navigation principale */
.main-navigation {
    flex-grow: 1;
    text-align: right;
}

/* Menu principal */
.main-menu-class {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

.main-menu-class li {
    margin-left: 35px;
}

.main-menu-class a {
    text-decoration: none !important;
    font-family: $font-space-mono;
    font-size: $font-size-heading;
    font-weight: $font-weight-normal;
    line-height: 26.66px;
    color: #000;
}

#main-menu-list a {
    text-decoration: none;
    list-style: none;
    background: none;
    font-family: $font-space-mono;
    font-size: $font-size-heading;
    font-weight: $font-weight-normal;
    line-height: 26.66px;
    color: $primary-color;
}

/* --- Navigation secondaire (boutons et liens) --- */
.primary-navigation a,
.button {
    background: none !important;
    outline: none !important;
    text-decoration: none !important;
    font-family: $font-space-mono !important;
    font-weight: 400;
    font-size: 16px;
}

/* --- Footer --- */
/* Style pour le footer */
.site-footer {
    height: 40px; 
    border-top: 1px solid #000;
    margin: 0 !important;
    padding-bottom: 10px !important;
    width: 100%;
    max-width: 100% !important;
}

/* Centre le menu horizontalement et ajuste les marges */
.footer-navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0;
    margin: 0 !important;
}

.footer-navigation-wrapper {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.footer-navigation-wrapper li {
    margin: 0 22.5px;
}

.footer-navigation-wrapper a {
    text-decoration: none !important;
    font-family: 'Space Mono', monospace;
    font-size: 16px;
    font-weight: 400;
    line-height: 23.7px;
    padding: 0;
    color: #000;
}

.site-main {
    padding: 0 !important;
}

/* --- Modal --- */
/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* Fusion de background-color */
    animation: fadeInBackground 0.5s forwards;
}

/* Animation pour faire apparaître le fond de la modale */
@keyframes fadeInBackground {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Modal Content/Box */
.modal-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    transform: translateX(100%);
    opacity: 0;
    animation: slideIn 0.7s forwards;
}

/* Animation pour faire glisser la modale depuis la droite */
@keyframes slideIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Modal Title */
.modal-title {
    font-size: 48px;
    line-height: 1;
    white-space: nowrap;
    position: relative;
    display: inline-block;
    animation: scrollContact 60s linear infinite;
    font-style: italic;
}

/* Animation du texte qui défile en continu */
@keyframes scrollContact {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

.modal-title-wrapper {
    width: 100%;
    overflow: hidden;
    margin-bottom: 30px;
}

/* Close button */
.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* --- Formulaire --- */
.label {
    font-family: Poppins;
    font-weight: 500;
}

.wpcf7-form-control-wrap input,
.wpcf7-form-control-wrap textarea {
    border-radius: 8px !important;
    border: 1px solid #B8BBC2 !important;
    margin-bottom: 15px !important;
}

.submitbtn {
    width: 100%;
    background-color: #D8D8D8 !important;
    border-radius: 8px !important;
    border: 1px solid #B8BBC2 !important;
    color: black !important;
    font-family: space-mono !important;
    font-weight: 400;
}

.submitbtn:hover {
    background-color: #fefefe !important;
    border: 1px solid #000000 !important;
}

/* --- Container Global --- */
.single-photo-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 40px;
    width: 100%;
}

/* --- Bloc Haut --- */
.bloc-top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    gap: 20px;
}

/* --- Bloc à Gauche : Informations de la Photo --- */
.left-info-block {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-basis: 50%;
    flex-grow: 1;
    padding: 20px 0;
    border-bottom: 1px solid;

    h2, p, a {
        font-family: $font-family-monospace !important;
        font-weight: 400;
        text-transform: uppercase;
        margin-bottom: 15px;
        text-decoration: none;
    }

    h2 {
        font-size: 14px;
    }

    p, a {
        font-size: 14px;
    }
}

/* --- Bloc à Droite : Photo --- */
.right-photo-block {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 50%;
    flex-grow: 1;

    img {
        max-width: 100%;
        height: auto;
        object-fit: cover;
        object-position: center;
    }
}

/* --- Bloc du Milieu : Interaction avec l'utilisateur --- */
.middle-box {
    height: 108px;
    display: flex;
    align-items: center;
    width: 100%;
    gap: 20px;
    border-bottom: 1px solid;
}

/* Texte sous l'image */
.bottom-interactions-block p {
    font-weight: 300;
    font-size: 12px;
}

.bottom-interactions-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: 100%;
}

/* Colonne gauche du bas (contact) */
.contact-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    font-size: 14px;
}

/* Style du lien de contact */
.contact-link a {
    display: block;
    width: 272px;
    height: 50px;
    padding: 8px 15px;
    border-radius: 2px 0 0 0;
    background-color: #D8D8D8;
    text-align: center;
    font-weight: 400;
    font-size: 12px;
    line-height: 34px;
    text-decoration: none !important;
}

.navigation-links {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 50%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

/* Style des liens de navigation */
.nav-link {
    position: relative;
    font-size: 40px;
    color: #000;
    display: inline-block;
    text-decoration: none;
}


/* Style des miniatures */
.nav-preview {
    display: none;
    position: absolute;
    width: 81px;
    height: 71px;
    background-size: cover;
    background-position: center;
    border: 1px solid #ccc;
    z-index: 1;
    pointer-events: none;
}

/* Miniature pour le lien précédent */
.prev-preview {
    bottom: 50px; /* Miniature apparaît au-dessus de la flèche */
}

/* Miniature pour le lien suivant */
.next-preview {
    bottom: 50px; /* Miniature apparaît au-dessus de la flèche */
    transform: translateX(-50%); /* Centrée par rapport à la flèche */
}

/* Affichage de la miniature au survol */
.prev-link:hover .prev-preview,
.next-link:hover .next-preview {
    display: block;
}

/* --- Bottom Box : Photos Apparentées --- */
.bottom-box {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 30px;

    h3 {
        font-family: $font-family-monospace !important;
        font-weight: 400;
        text-transform: uppercase;
        font-size: 18px;
    }
}

/* Grille de photos apparentées */
.photo-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Grille responsive */
    grid-gap: 20px;
}

/* Styles de base pour le conteneur et l’image */
.related-photo-block {
    position: relative;
    width: 100%;
    padding-top: 100%;  /* Ratio 1:1 */
    overflow: hidden;
    box-sizing: border-box;

    /* Image à l'intérieur du conteneur */
    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    /* Dégradé avec pseudo-élément ::before */
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(
            to top, 
            $gradient-start 0%,    /* Dégradé sombre en bas */
            $gradient-middle 20%,  /* Dégradé atténué au milieu */
            $gradient-end 100%     /* Transparent en haut */
        );
        opacity: 0;
        transition: opacity 0.3s ease;
        z-index: 1; /* Dégradé sous le texte et les icônes */
    }

    /* Interaction pour modifier l'opacité du dégradé */
    &:hover::before {
        opacity: 1; /* Affiche le dégradé au survol */
    }
}

/* Conteneur global */
.related-photo-block {
    position: relative;

    /* Icônes et informations */
    .overlay-icon,
    .photo-info {
        position: absolute;
        color: $icon-color;
        opacity: 0; /* Masqué par défaut */
        transition: opacity 0.3s ease;
        z-index: 2;
    }
    /* Icône œil au centre */
    .view-icon {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 2.2em;
        opacity: 0; /* Masqué par défaut */
        transition: opacity 0.3s ease;
    }

    &:hover .view-icon {
        opacity: 1; /* Affiché au survol */
    }

    /* Icône plein écran en haut à droite */
    .fullscreen-icon {
        top: 10px;
        right: 10px;
        font-size: 1.2em;
        width: 34px; 
        height: 34px; 
        background-color: rgba(0, 0, 0, 0.6); 
        padding: 5px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

/* Conteneur principal */
.related-photo-block {
    position: relative;

    /* Dégradé au survol */
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(
            to top,
            rgba(0, 0, 0, 0.7) 0%, /* Plus sombre en bas */
            rgba(0, 0, 0, 0.3) 20%,
            rgba(0, 0, 0, 0) 100% /* Transparent en haut */
        );
        opacity: 0; /* Masqué par défaut */
        transition: opacity 0.3s ease;
        z-index: 1; /* Derrière les infos */
    }

    &:hover::before {
        opacity: 1; /* Affiche le dégradé lors du survol */
    }




    /* Informations de la photo */
    .photo-info {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 5px 10px;
        display: flex;
        justify-content: space-between;
        color: $photo-info-color;
        background: linear-gradient(to middle, rgba(0, 0, 0, 0) 0%, 100%); /* Dégradé plus sombre */
        background: linear-gradient(to middle, rgba(0, 0, 0, 0) 0%, 100%); /* Dégradé plus sombre */
        opacity: 0; /* Masqué par défaut */
        transition: opacity 0.3s ease;
        z-index: 2; /* Devant le dégradé */
    }

    &:hover .photo-info {
        opacity: 1; /* Affiche les infos au survol */
    }
}

.load-more-container {
    text-align: center;
    margin-top: 30px;

    #load-more {
        width: 272px;
        height: 50px;
        padding: 8px 15px;
        gap: 10px;
        border-radius: 2px 0px 0px 0px;
        opacity: 0;
        background-color: #D8D8D8;
        color: #000;
        border: none;
        cursor: pointer;

        &:hover {
            background-color: #000000;
            color: white;
        }

        &:focus {
            outline: none;
        }
    }
}

.nav-linklight {
    background: none;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    padding: 10px 15px;
    z-index: 1001;
    transition: color 0.3s;

    &:hover {
        color: #ccc;
    }

    &:focus {
        outline: none;
    }
}

#prev-linklight {
    position: absolute;
    left: 20px;
}

#next-linklight {
    position: absolute;
    right: 20px;
}




/* Lightbox principale */
.lightbox {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); // Overlay noir transparent
    justify-content: center;
    align-items: center;
    z-index: 1000; // Pour être au-dessus de tout
    overflow: hidden; // Empêche le débordement de contenu

    // Bouton de fermeture
    .closelightbox {
        position: absolute;
        top: 10px;
        right: 20px;
        font-size: 30px;
        color: white;
        cursor: pointer;
        border: none;
        background: none;
        padding: 0;
        transition: color 0.3s;
        z-index: 1001;
        outline: none !important;
        background-color: transparent !important;
        color: white;
    }

    // Container de contenu (image + navigation)
    .lightbox-flex-container {
        display: flex;
        align-items: center;
        justify-content: space-between; // Place les flèches à gauche et à droite
        width: 100%;
        position: relative;

        // Image et ses infos
        .image-info-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            position: relative;
            max-width: 100%;

            img {
                max-width: 100%;
                max-height: 100%;
                object-fit: contain;
            }

            .lightbox-info {
                margin-top: 10px;
                color: white;
                font-size: 0.9em;
                display: flex;
                justify-content: center;
                gap: 20px;

                .photo-ref {
                    font-weight: bold;
                }

                .photo-category {
                    font-style: italic;
                }
            }
        }

        // Navigation flèches
        .nav-linklight {
            font-size: 16px;
            color: white;
            background: rgba(0, 0, 0, 0.6);
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            background-color: transparent !important;
            color: white;

            &.prev-linklight {
                margin-left: 20px;
            }

            &.next-linklight {
                margin-right: 20px;
            }
        }
    }
}

.image-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;

    #lightbox-image {
        max-width: 100%;
        max-height: 80vh;
        object-fit: contain;
    }
}

/* Informations de la lightbox */
.lightbox-info {
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    font-size: 14px;
    margin-top: 15px;
    color: white;
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

/* Styles généraux pour tous les écrans */

/* Très grand écran */
@media only screen and (max-width: 1475px) {
    .right-photo-block {
        width: 48%;
    }
}

@media only screen and (max-width: 940px) {
    .filter-container {
        select#format-filter {
            margin-left: 10px;
        }
    }
}

@media only screen and (max-width: 910px) {
    .filter-container {
        flex-direction: column;
        align-items: center;

        select {
            display: block;
            margin-bottom: 10px;
            width: 270px;

            &#format-filter {
                margin-left: 0;
            }
        }
    }

    .lightbox-flex-container {
        flex-direction: column;
    }
}

/* Optionnel : cacher le bouton de menu sur les grands écrans */
@media only screen and (max-width: 800px) {
    .bloc-top {
        flex-direction: column-reverse;
        align-items: center;
    }

    .right-photo-block {
        width: 100%;
        flex-basis: 100%;

        img {
            width: 100%;
            height: auto;
        }
    }

    .middle-box {
        flex-direction: column;
        margin: 0;
        padding: 15px 0 !important;
        border-top: 1px solid;
    }

    .bottom-interactions-container {
        flex-direction: column;
        width: 100%;
    }

    .navigation-links {
        display: none;
    }

    .site-header,
    .footer-navigation {
        display: flex;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    .menu-primary-menu-list a {
        padding-top: 0;
    }

    .menu-button-container {
        display: none;
    }

    .primary-navigation {
        margin: auto;
    }

    .bottom-box h3 {
        text-align: center;
    }

    .same-style-photo {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }

    .related-photo-block {
        flex: 1 1 100%;
        height: 278.8px;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    .left-info-block {
        border-bottom: 0;
    }

    .hero h1 {
        font-size: 12vw; /* La taille du texte augmente sur écrans plus petits */
        white-space: normal; /* Permet au texte de se diviser en plusieurs lignes si nécessaire */
    }

    .photo-grid {
        grid-template-columns: 1fr;
    }
}

/* Cacher le menu principal sur les petits écrans */
@media only screen and (max-width: 696px) {
    .main-menu-class {
        justify-content: center;
    }

    .site-header {
        flex-direction: row;
    }
}

@media only screen and (max-width: 604px) {
    .modal-content {
        display: block;
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
    }

    .bloc-top img {
        width: 100%;
        object-fit: cover;
        object-position: center;
    }

    .middle-box {
        border-bottom: 1px solid;
        height: 100%;
        width: 100vw;
    }
}

/* Petits appareils (téléphones en mode portrait, largeur max de 480px) */
@media only screen and (max-width: 481px) {
    .site-header {
        justify-content: flex-start !important;
        align-items: normal !important;
        margin: 0 25px !important;
        height: 40px;

        .site-logo {
            height: 15px;
            padding: 0 !important;
            display: flex !important;
            position: absolute !important;
            margin-top: 0 !important;

            img {
                height: 9px !important;
            }
        }

        .menu-button-container {
            padding: 0 !important;
            height: 40px;
        }
    }

    .middle-box {
        padding: 15px 0 !important;
    }

    .primary-menu-container {
        display: flex;
        background: #E00000 !important;
        align-items: center;

        .menu-wrapper a {
            font-family: 'Space Mono', monospace;
            font-size: 44px !important;
            font-weight: 400 !important;
            text-align: center;
            color: white !important;
            justify-content: center;
        }
    }
}

